@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    /* colors */
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
    /* body */
    --open-sans-body: 'Open Sans', sans-serif; /* 400, 600, 700*/
    /* headings */
    --poppins-h: 'Poppins', sans-serif; /* 600 */
    --padding-container: 4rem 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    width: 100%;
    font-family: var(--open-sans-body);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.header {
    min-height: 100vh;
    position: relative;
    --wave-bottom: url(./images/bg-section-top-mobile-1.svg);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    --padding-container: 4rem 0 3rem;
}

.logo-content {
    width: 100%;
}

.logo-nav {
    display: block;
    width: 55%;
    max-width: 180px;
}

.btn-cta {
    width: 150px;
    padding: 0.5em 1em;
    border: 1px solid var(--light-pink);
    color: var(--pink);
    background-color: transparent;
    border-radius: 2em;
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
}

.btn-cta:hover {
    opacity: 0.7;
}

.btn-cta-question:hover, 
.footer-submit:hover {
    background-color: var(--light-pink);
}

.hero {
    text-align: center;
    color: var(--very-dark-cyan);
}

.hero-text {
    display: grid;
    gap: 1em;
}

.hero-title {
    font-family: var(--poppins-h);
    font-size: 2rem;
}

.hero-p {
    width: 90%;
    margin: 0 auto;
    line-height: 1.5;
}

.btn-hero {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background-color: var(--pink);
    justify-self: center;
    padding: 1em 1.8em;
    margin-top: 1em;
    border-radius: 2em;
    box-shadow: -5px 8px 16px -10px var(--very-dark-cyan);
}

.btn-hero:hover {
    opacity: 0.7;
}

.imagen {
    margin-top: 5em;
}

.imagen .hero-img {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    display: block;
}

.hero-nums {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6.5em;
}

.hero-nums .num {
    overflow: hidden;
    margin-bottom: 2em;
}

.num .number {
    font-size: 3.5rem;
}

.num .icon-mess {
    display: block;
}

.wave {
    position: absolute;
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100px;
}

.wave-bottom {
    left: 0;
    bottom: 0;
    background-image: var(--wave-bottom);
}

.wave-top {
    left: 0;
    top: 0;
    background-image: var(--wave-top);
}

.section {
    background-color: var(--very-pale-blue);
    --padding-container: 7rem 0;
}

.sec-white {
    background-color: #fff;
    position: relative;
    --padding-container: 13rem 0;
    --wave-top: url(./images/bg-section-bottom-mobile-1.svg);
    --wave-bottom: url(./images/bg-section-top-mobile-2.svg);
}

.sec-container {
    display: flex;
    flex-direction: column;
}

.card-img {
    display: block;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}

.card-text {
    margin-top: 3rem;
    text-align: center;
}

.sub-title {
    margin-bottom: 1rem;
    font-family: var(--poppins-h);
}

.question {
    position: relative;
    text-align: center;
    --wave-top: url(./images/bg-section-bottom-mobile-1.svg);
    --wave-bottom: url(./images/bg-footer-top-mobile.svg);
    padding: 12rem 0rem;
}

.btn-cta-question {
    border: none;
    border-radius: 2em;
    padding: 1.3em 4em;
    background-color: var(--pink);
    color: #fff;
    cursor: pointer;
}

.footer {
    color: #fff;
    background-color: var(--very-dark-cyan);
}

.footer-logo {
    margin-bottom: 2rem;
}

.foo-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.footer-text, .footer-p{
    margin-bottom: 3rem;
}

.form {
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.mensaje {
    color: var(--light-red);
    font-size: 0.8rem;
    display: none;
    margin-top: -28px;
    letter-spacing: 1px;
}

.input-email {
    flex: 100%;
    font-size: 1rem;
    font-family: var(--open-sans-body);
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 1em 0.6em;
    margin-bottom: 1em;
    border: 1px solid transparent;
}

.footer-submit {
    background-color: var(--pink);
    font-family: var(--open-sans-body);
    color: #fff;
    padding: 0.5em 2.5em;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    margin-left: auto;
    cursor: pointer;
}

.footer-content, .redes{
    width: 90%;
    margin: 0 auto;
}

.footer-contact {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 1.2rem;
}

.redes {
    margin-left: 0;
    display: flex;
    gap: 13px;
    padding-bottom: 2rem;
}

.redes .icon-social {
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
}

.icon-social:hover{
    background-color: #10aed6;
}

.attribution {
    font-size: 0.9rem;
    text-align: center;
    background-color: var(--very-dark-cyan);
    color: white;
    padding: 10px;
}

.attribution a {
    color: white;
    text-decoration: none;
}

.attribution a:hover {
    color: var(--pink);
}


@media (min-width: 768px) {
    .header {
        --wave-bottom: url(./images/bg-section-top-desktop-1.svg);
    }

    .logo-nav {
        width: 100%;
        max-width: 240px;
    }

    .btn-cta {
        width: 100%;
        max-width: fit-content;
        padding: 0.8rem 3.4rem;
    }

    .hero {
        --padding-container: 8rem 0;
    }

    .hero-title {
        font-size: 3rem;
    }

    .hero-p {
        width: 70%;
    }

    .btn-hero {
        padding: 1em 3em;
    }

    .hero-nums {
        flex-direction: row;
        justify-content: space-around;
    }

    .num .number {
        font-size: 4.5rem;
    }

    .sec-white {
        --wave-top: url(./images/bg-section-bottom-desktop-1.svg);
        --wave-bottom: url(./images/bg-section-top-desktop-2.svg);
    }

    .sec-container {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .reverse {
        flex-direction: row;
    }

    .sec-imagen {
        width: 55%;
    }

    .card-img {
        max-width: 500px;
    }

    .card-text {
        width: 45%;
        margin: 0;
        text-align: left;
    }

    .question {
        --wave-top: url(./images/bg-section-bottom-desktop-2.svg);
        --wave-bottom: url(./images/bg-footer-top-desktop.svg);
        padding: 12rem 0rem;
    }

    .ready {
        font-size: 2rem;
    }

    .footer {
        display: grid;
        grid-template-columns: 45% 45%;
        justify-content: center;
        align-items: center;
        padding-top: 3rem;
    }

    .footer-container {
        order: 1;
    }

    .footer-content {
        margin-top: 2rem;
    }

   .form {
        flex-wrap: nowrap;
        align-items: center;
        gap: 30px;
   }

   .input-email {
        flex: 1;
   }

   .mensaje {
    margin-top: -40px;
   }

   .footer-submit {
        padding: 1rem 1.5rem;
        margin-top: -18px;
        width: 190px;
        max-width: fit-content;
   }

  .footer-newsletter, .footer-p {
    max-width: 70%;
  }
   
}


